.projects-section {
    padding: 50px 0;
    background-color: #7F0909;
    /* Deep red reminiscent of Gryffindor */
    color: #ffd700;
    text-align: center;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.project {
    background-color: #5A2020;
    /* Dark red background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease;
}

.project h3 {
    margin-bottom: 10px;
    color: #ffd700;
    /* Gold color for project titles */
}

.project p {
    margin-bottom: 15px;
}

.project:hover {
    transform: translateY(-5px) scale(1.05);
    /* Add a slight scale effect on hover */
    box-shadow: 0 0 40px rgba(255, 255, 255, 0.4);
    /* Increase the intensity of the glow */
}

/* Keyframes for subtle floating animation */
@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}

/* Apply floating animation to project containers */
.project-container .project {
    animation: float 5s infinite ease-in-out;
}